body {
    padding: 0;
}

li:hover {
    background-color: slategray
}


#value-filter-div {
    padding: 0;
}

#valuelist {
    list-style-type: none;
    padding: 0;
}

.item {
    font-size: 20px;
    margin: 8dp;
    word-wrap: none;
}